
<div id="contact-form" style="width:600px;margin-left: 320px;" >
  <div>
    <h1>HiBlogers!!</h1>
    <h4>Update Your Blog here!!!</h4>
  </div>
  <p id="failure">Oopsie...Can't add your blog!!.</p>
  <p id="success">Your blog was added successfully. Thank you!</p>

  <div>
    <div>
      <label >
        <span class="required">Name: *</span>
        <input type="text" id="name" #name [(ngModel)]="data.name"  value="" placeholder="Your Name" required="required"   />
      </label>
    </div>
    <div>
      <label >
        <span class="required">Title: *</span>
        <input type="text" id="title" #title [(ngModel)]="data.title"  value="" placeholder="Your title" tabindex="2" required="required" />
      </label>
    </div>
    <div>
      <label >
        <span class="required">Category: * </span>
        <select id="category" #category tabindex="4">
          <option value="Technical">Technical</option>
          <option value="Management">Management</option>
          <option value="Sports">Sports</option>
          <option value="Social">Social</option>
          <option value="Political">Political</option>
          <option value="Medical">Medical</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        <span class="required" >Content: *</span>
        <textarea #content placeholder="Please write your content here." [(ngModel)]="data.content" tabindex="5" required="required"></textarea>
      </label>
    </div>
    <div>
      <label>
        <span class="required" >Update your Image: *</span>
      <input type="file" #imageFile />
      </label>
    </div>
    <div>
      <button  #submit id="submit" (click)="getImage(imageFile.files)">Update</button>
    </div>
  </div>

</div>

