<div class="container-fluid" style="background: no-repeat;height:400px; width:1280px;
border-bottom:1px lightgrey solid;background-image: url(../../assets/images/slide-image-5-1280x400.jpg)" >

  <app-nav-bar (emit)="data=$event"></app-nav-bar>
</div>

<div class="container" >
  <div class="row">
    <div class="col">
<app-category  (getCategory)="getCategory($event)"></app-category>
    </div>
    <div class="col-6">

      <app-blog-div [data]="data" (emitter)="changestar($event)"></app-blog-div>

    </div>
    <div class="col-4" style="width:400px;height: 690px">
    <app-form></app-form>

    </div>
  </div>

</div>
