<div class="list-group" style="margin-top: 32px">
  <a class="list-group-item list-group-item-action disabled" style="border: none">
    Filter by Categories
  </a>
  <a href="#" class="list-group-item list-group-item-action" (click)="getcategory('Technology')" style="background-color: #343a40">Technology</a>
  <a href="#" class="list-group-item list-group-item-action" (click)="getcategory('Managment')">Managment</a>
  <a href="#" class="list-group-item list-group-item-action" (click)="getcategory('Sports')" style="background-color: #343a40">Sports</a>
  <a href="#" class="list-group-item list-group-item-action " (click)="getcategory('Medical')">Medical</a>
  <a href="#" class="list-group-item list-group-item-action" (click)="getcategory('Social')" style="background-color: #343a40">Social</a>
  <a href="#" class="list-group-item list-group-item-action" (click)="getcategory('political')">political</a>
  <a href="#" class="list-group-item list-group-item-action" (click)="getcategory('political' )" style="background-color: #343a40">All</a>

</div>
